---
import Card from "../components/Card.astro";
import ControlBtnsGimmick from "../components/ControlBtnsGimmick.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="flex flex-col">
      <span>Adan Moreno Flores</span>
      <span class="text-sm mt-4">(Ruby-dev)</span>
    </h1>
    <ControlBtnsGimmick className="absolute top-1 right-1" />
  </main>
</Layout>

